.modalbtn {
	box-sizing: border-box;
	min-height: 46px;
	max-width: 120px;
	width: 100%;
	font-weight: 400;
	font-size: calc(clamp(15px, 4vw, 20px));
	line-height: 46px;
	color: #3f72af;
	border: 2px solid #3f72af;
	background: transparent;
	border-radius: 4px;
	cursor: pointer;
}

.modalbtn:hover {
	transform: scale(1.01);
	box-shadow: 12px 5px rgb(150, 175, 221);
}

.modalbtn:first-child {
	margin-right: 24px;
}

.modalbtn.primary {
	color: #fff;
	background-color: #3f72af;
	transition: background-color 0.5s ease-in-out;
}

.modalbtn.primary:disabled {
	color: #0d161b;
	background-color: #304055a4;
	border: 1px dotted #00050a;
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}

.modalbtn.primary.large {
	max-width: 200px;
	width: 100%;
}
