.modalbtn {
	font-size: calc(clamp(15px, 4vw, 20px));
	font-weight: 400;
	line-height: 46px;

	box-sizing: border-box;
	width: 100%;
	max-width: 120px;
	min-height: 46px;

	cursor: pointer;

	color: rgb(63, 114, 175);
	border: 2px solid rgb(63, 114, 175);
	border-radius: 4px;
	background: transparent;
}

.modalbtn:hover {
	transform: scale(1.01);

	box-shadow: 12px 5px rgb(150, 175, 221);
}

.modalbtn:first-child {
	margin-right: 24px;
}

.modalbtn.primary {
	transition: background-color 0.5s ease-in-out;

	color: rgb(255, 255, 255);
	background-color: rgb(63, 114, 175);
}

.modalbtn.primary:disabled {
	cursor: not-allowed;
	transform: none;

	color: rgb(13, 22, 27);
	border: 1px dotted rgb(0, 5, 10);
	background-color: rgba(48, 64, 85, 0.643);
	box-shadow: none;
}

.modalbtn.primary.large {
	width: 100%;
	max-width: 200px;
}
