.modalbtn {
	font-size: calc(clamp(15px, 4vw, 20px));
	font-weight: 400;
	line-height: 46px;

	box-sizing: border-box;
	width: 100%;
	max-width: 120px;
	min-height: 46px;

	cursor: pointer;

	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	border-radius: 4px;
	background: transparent;
}

.modalbtn:hover {
	transform: scale(1.01);

	box-shadow: 12px 5px var(--shadow-color);
}

.modalbtn:first-child {
	margin-right: 24px;
}

.modalbtn.primary {
	transition: background-color 0.5s ease-in-out;

	color: var(--white-color);
	background-color: var(--primary-color);
}

.modalbtn.primary:disabled {
	cursor: not-allowed;
	transform: none;

	color: var(--half-black-color);
	border: 1px dotted var(--black-color);
	background-color: var(--error-color);
	box-shadow: none;
}

.modalbtn.primary.large {
	width: 100%;
	max-width: 200px;
}
