.header {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	max-width: 1280px;
	min-height: 88px;
	margin: auto;
	padding: 24px;

	color: var(--white-color);
	background-color: var(--primary-color);
	box-shadow: 0 4px 8px var(--half-black-color);
}

.header-title {
	font-size: calc(clamp(20px, 6vw, 36px));
	font-weight: 400;
	line-height: calc(clamp(20px, 5vw, 40px));

	margin-right: calc(clamp(20px, 5vw, 65px));
}

.header-nav {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: space-between;

	padding-right: 20px;
}

.header-list {
	display: flex;

	list-style-type: none;
}

.header-list-item {
	box-shadow: inset 0 -2px 0 0 var(--back-color);
}

.header-list-item:hover {
	transform: scale(1.03);
}

.header-list-item-active {
	box-shadow: inset 0 -2px 0 0 var(--accent-color);
}

.header-list-item:first-child {
	margin-right: 19px;
}

.header-list-item a {
	font-size: calc(clamp(10px, 4vw, 22px));
	line-height: 2px;

	position: relative;

	color: var(--back-color);
}

.header-list-item-active a {
	color: var(--accent-color);
}

.header-button {
	font-size: calc(clamp(15px, 4vw, 20px));
	line-height: calc(clamp(15px, 4vw, 46px));

	box-sizing: border-box;
	height: 46px;

	cursor: pointer;
	text-align: right;

	color: var(--white-color);
	border: none;
	background-color: var(--primary-color);
}

.header-button:hover {
	transform: scale(1.03);
}
