.modal__content-header {
  display: flex;
  justify-content: space-between;
}

.modal__content-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  color: #3f72af;
  margin-bottom: 32px;
}

.modal__content-header__btn {
  cursor: pointer;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
}
