@import url('./assets/fonts.css');

* {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	/* сглаживание шрифтов */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/* оптимизация шрифтов под разные разрешения экрана */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p,
h1,
h3,
h4,
ul {
	margin: 0;
}

ul,
button {
	padding: 0;
}

a {
	text-decoration: none;
}
