.dropdown {
  cursor: pointer;
  box-sizing: border-box;
  width: 364px;
  height: 24px;
  position: relative;
  z-index: 1;
}

.dropdown-btn {
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  align-items: center; /* для треугольника */
  justify-content: space-between;
  background: #dbe2ef;
  border: 2px solid #3f72af;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 46px;
  color: #000;
}

.dropdown-btn.placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.dropdown-content {
  box-sizing: border-box;
  position: absolute;
  top: 45px;
  background: #dbe2ef;
  border: 2px solid #3f72af;
  border-radius: 4px;
  width: 364px;
}

.dropdown-content .dropdown-item {
  position: relative;
  left: -2px;
  box-sizing: border-box;
  padding: 10px;
  width: 364px;
  border: none;
  border-radius: 4px;
  color: #3f72af;
}

.dropdown-content .dropdown-item:hover {
  background-color: #3f72ff;
  color: #fff;
}

.dropdown_disabled {
  pointer-events:none;
}

.dropdown_disabled .dropdown-btn {
  background: rgba(220, 227, 239, 0.82);
  border: 2px solid rgba(122, 156, 173, 0.47);
}

.dropdown_disabled .dropdown-label{
  background-color: #dbe2ef;
  color: rgba(122, 156, 173, 0.71);
}